.mb-1 {
  margin-bottom: .25rem !important;
}

.pb-2 {
  padding-bottom: .5rem !important;
}

.row {
  margin-bottom: 3rem;
}
.wide {
  min-width: 90%;
}

.sign-out-button {
  position: fixed;
  bottom: 4px;
  left: 25%;
  right: 25%;
}
